.app {
    width: 100%;
    min-height: 100%;
    position: relative;
}

.app__main {
    padding: 20px;
    margin-top: 30px;
    padding-bottom: 175px; /* Same height like MainFooter.css .mainfooter height */
}
